################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/obj/**
**/bin/**
**/Debug/**
/MockServer/wwwroot/lib/bootstrap
/MockServer/wwwroot/lib
