@page
@model KDropDownModel
@using MockServer.Pages.kendo._2014._1._318
@{
    Layout = "~/Pages/kendo/2014.1.318/Shared/_Layout.cshtml";
}
<div id="dropdown"></div>
<div class="dropdownV2"></div>
<script>
    $(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
                2,
                5,
                10,
                15,
                20
            ]
        });

        $("#dropdown").kendoDropDownList({
            dataSource: dataSource
        });

        $(".dropdownV2").kendoDropDownList({
            dataSource: dataSource
        });

        dataSource.read();
    });
</script>
